#version: '2'

# docker-compose down
# docker system prune
# docker-compose up -d -build
# DOCKER_BUILDKIT=1 COMPOSE_DOCKER_CLI_BUILD=1 docker-compose build

services:
  db:
    #image: postgres:17
    build: ./build/db
    user: root
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo18@2024
      - POSTGRES_DB=postgres
    restart: always             # run as a service
    volumes:
      - ./postgresql:/var/lib/postgresql/data

    # psql -U odoo dhl
    # CREATE EXTENSION IF NOT EXISTS postgis;
    # CREATE EXTENSION IF NOT EXISTS postgis_topology;

  app:
    # image: odoo:18
    build: ./build/app
    user: root
    depends_on:
      - db
    ports:
      - "10018:8069"
      - "20018:8072" # live chat
    tty: true
    command: --
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo18@2024
    volumes:
      #- /etc/timezone:/etc/timezone:ro
      #- /etc/localtime:/etc/localtime:ro
      - ./entrypoint.sh:/entrypoint.sh   # if you want to install additional Python packages, uncomment this line!
      - ./addons:/mnt/extra-addons
      - ./ez_addons:/mnt/ez_addons
      - ./geospatial/base_geoengine:/mnt/extra-addons/base_geoengine
      #- ./quest:/mnt/quest
      #- ./addons-odoo-apps-store:/mnt/addons-odoo-apps-store
      - ./addons-odoo-apps-store/account_ph_slsp:/mnt/account_ph_slsp
      - ./addons-odoo-apps-store/account_ph_2306_2307:/mnt/account_ph_2306_2307
      - ./addons-odoo-apps-store/account_ph_bir_map:/mnt/account_ph_bir_map
      - ./etc:/etc/odoo
    restart: always             # run as a service

